<template>
  <div class="home">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <form v-on:submit.prevent="test">
      <label class="name_label">
        名前
      </label>
      <input
        class="input_hello"
        v-model="name"
        type="text"
        name="name"
      >
      <button>switch</button>
      <p>{{ message }}</p>
    </form>
  </div>
</template>

<script>
export default ({
  name: 'Hello',
  data() {
    return {
      name: '',
      message: '',
    };
  },
  methods: {
    test() {
      this.message = `${this.name}さん、こんにちは`;
    },
  },
});
</script>
